<!--Injecting course model-->
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Rate My Professor";
}

<div id="course-wrapper">
    <span id="course-title">   Course.Name   </span>
        foreach (var field in Model)
        {
                <p> Course.Review </p>
            <li id="buttonLink">//add an at Html.ActionLink(post.Name, "Expand", new { review = review.Name })</li>
        }
</div>







